html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

/*
* Styles for the modal Won
*/

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 200px;
    background: #ffffff url('../img/geometry2.png');
    text-align: center;
}

.modal ul {
    list-style-type: none;
}

.modal .fa {
    color: #0f0;
}

.modal p a {
    display: inline-block;
    background-color: #02b3e4;
    border-radius: 6px;
    color: #f9fafb;
    font-weight: bold;
    margin-top: 10px;
    padding: 1rem;
    text-decoration: none;
}

.modal p a:hover {
  background-color: #f9fafb;
  color: #02b3e4;
}

.hidden {
    visibility: hidden;
}

/*
 * Styles for the container
 */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #ff840d 0%, #e81300 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);

}

.deck .card.open {
    transform: rotateY(180deg);
    background: #0d99ff;
    cursor: default;
    transition: all 0.3s ease;
}

.deck .card.show {
    font-size: 33px;
}

@keyframes match {
  0% {
    transform: scale(1.0, 1.0);
  }
  25% {
    transform: scale(1.2, 1.0);
  }
  50% {
    transform: scale(1.0, 1.0);
  }
  75% {
    transform: scale(1.0, 1.2);
  }
  100% {
    transform: scale(1.0, 1.0);
  }
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    /*transition: all 0.3s ease;*/
    animation: match 0.4s ease;
}

@keyframes nomatch {
  0% {
    transform: skew(0deg,0deg);
  }
  25% {
    transform: skew(12deg,12deg);
  }
  50% {
    transform: skew(0deg,0deg);
  }
  75% {
    transform: skew(-12deg,-12deg);
  }
  100% {
    transform: skew(0deg,0deg);
  }
}


.deck .card.nomatch {
    cursor:default;
    background: #e0f;
    font-size: 33px;
    animation: nomatch 0.4s ease;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    display: inline-block;
    padding-left: 20px;
}

.score-panel .restart {
    padding-top: 15px;
    float: right;
    cursor: pointer;
}


/******************************************/
/*******       Media Queries    ***********/
/******************************************/

@media screen and (max-width: 712px){
  .deck {
      max-width: 560px;
      min-height: 580px;
  }

  .deck .card {
      height: 100px;
      width: 100px;
  }
}

@media screen and (max-width: 590px){
  .deck {
      max-width: 400px;
      min-height: 420px;
  }

  .deck .card {
      height: 75px;
      width: 75px;
  }

  .deck .card.show {
      font-size: 26px;
  }

  .deck .card.match {
      font-size: 26px;
  }

  .deck .card.nomatch {
      font-size: 26px;
  }


}

@media screen and (max-width: 430px){
  .deck {
      max-width: 300px;
      min-height: 320px;
  }

  .deck .card {
      height: 50px;
      width: 50px;
  }

  .score-panel {
      width: 245px;
  }
}

@media screen and (max-width: 320px){
  .deck {
      max-width: 260px;
      min-height: 280px;
  }

  .deck .card {
      height: 40px;
      width: 40px;
  }

  .deck .card.show {
      font-size: 18px;
  }

  .deck .card.match {
      font-size: 18px;
  }

  .deck .card.nomatch {
      font-size: 18px;
  }

  .score-panel {
      width: 175px;
  }

}
